/*
--blue-violet-color-wheel: #540d6eff;
--paradise-pink: #ee4266ff;
--sunglow: #ffd23fff;
--caribbean-green: #3bceacff;
--go-green: #0ead69ff;
*/

:root {
    --primary: #3bceacff;
    --accent: #ee4266ff;

    --background: #eeeeee;
    --footer: #e0e0e0;

    --scheme-green1: #a7c957;
    --scheme-green2: #6a994e;
    --scheme-green3: #386641;
    --scheme-base: #f2e8cf;
    --scheme-red: #bc4749;
}

body * {
    box-sizing: border-box;
    position: relative;
    font-family: "Roboto", sans-serif;
    color: #303030;
}

body {
    margin: 0px;
    background-color: var(--background);
}

.t-normal {
    font-weight: 500;
}

.t-bold {
    font-weight: 500;
}

a {
    color: var(--accent);
    text-decoration: none;
}

.centerSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.contentBase {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #dddddd;
    padding: 20px;
}

.info_base {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.info_status_base {
    color: #404040;
    font-size: 11pt;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #f3f3f3;*/
}

.info_note {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 40pt;
    font-weight:900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_desc{
    margin-top: 7px;
    max-width: 200px;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
}

.note_wc {
    font-size: 30pt;
    color: #af6a11;
}

.info_status_error {
    color: white;
    background-color: var(--scheme-red);
}

.info_status_okay {
    color: white;
    background-color: var(--scheme-green2);
}

.header {
    margin-bottom: 100px;
}

.footer {
    border-radius: 15px 15px 0px 0px;
    font-size: 13px;
    margin-top: 200px;
    /*background-color: var(--footer);*/
    text-align: center;
}

.footer a {
    white-space: nowrap;
}

.logo {
    font-size: 25pt;
    font-weight: 700;
}

.logo b {
    color: #7795a7;
    font-weight: 700;
}

.card-title {
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 10px;
}


#txtNoten {
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    border-style: solid;
    font-family: monospace, monospace;
}

#klausurenList{
    display: none;
}

.btn {
    margin-top: 10px;
    border-radius: 4px;
    background-color: #5c7483; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.logo_base {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_tag {
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    color: #202020;
}

.klausuren_list{
    width: 100%;
    margin-top: 40px;
}

.klausuren_title{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.klausur{
    width: 100%;
    margin-bottom: 6px;
    padding: 14px;
    border-radius: 5px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
}

.klausur_nr{
    font-weight: bold;
    flex: 1;
}

.klausur_info{
    margin-left: 15px;
}

#divResult{
    display: none;
}

.k_einbezogen{
    background-color: hsl(203, 21%, 80%);
}

.k_partiell{
    background-color: hsl(203, 21%, 90%);
}

.k_weggefallen{
    background-color: hsl(0, 85%, 90%);
    text-decoration:line-through;
}

.msg{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 17px;
    /*max-width: 200px;*/
    background-color: hsl(203, 21%, 90%);;
    padding: 10px;
    border-radius: 4px;
    text-align: start;
    font-size: 13px;
}

.msg_error{
    background-color: #f68688;
}

.msg .material-icons{
    color: #0000009b;
    margin-right: 20px;
}